.git
*.o
bin/circle
bin/utils/*
src/config.cache
src/config.log
src/config.status
src/conf.h
src/Makefile
src/util/Makefile
src/.accepted
log/*
syslog*
core
lib/etc/badsites
lib/plrfiles/*/*
lib/plrobjs/*/*
lib/plrvars/*/*

